body{
  background-color: #dbe9ff;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 95%;
  margin: 0 auto;
  background-color: #d3d3d3;
}

th{
  background-color: #f1d8ff;
}

td, th {
  border: 1px dashed #2c2c2c;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f1d8ff;
}

a{
  text-decoration: none;
  color: darkcyan;
}

a:hover,active{
  transition: 300ms;
  color: violet;
}